.menu{
    background:#202020;
    color:white;

    width:fit-content;
    /*width:var(--menu-width,fit-content);*/
    /*max-width:var(--menu-width, fit-content);*/

    display:grid;
    grid-template-rows:auto;

    grid-gap:2em;

    border-radius:3px;

    padding:4em;

    text-align: center;
    position:relative;
}

.menu > .header{
  font-weight:bold;
  font-size:1.25rem;
}

.menu > .subheader{
    font-size:1em;
    margin-bottom:2em;
    word-wrap: normal;
}

.menu > .row{
    background:inherit;

    display:flex;
    flex-flow:row;
}