.controls {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width:40em;
    height:100%;
    max-height:100%;

    user-select: none;

    padding:1em;
}

.controls > *{
    width:100%;
}

.controls > h1{
    border-bottom:1px solid white;
    padding-bottom:0.5em;
    margin-bottom:0.5em;
}

.controls > ul{
    display:flex;
    flex-direction: column;
    gap:0.3em;

    text-align: center;

    list-style-type: none;
    padding:0;
    margin:0;
}

.controls > ul > li{
    background:#aaa2;

    width:100%;

    border-radius:2px;
    padding:0.125em;
    cursor: pointer;
}

.controls > ul > li > span:nth-child(1){
    padding-left:1em;
    float:left;
    text-align:left;
}

.controls > ul > li > span:nth-child(2){
    width:15em;
    float:right;
    text-align:right;
    text-align:center;
}

.controls > button{
    pointer-events:auto;
    margin-top:1em;
}

.controls > .popup{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background:#0009;
}

.controls > .popup > h1{
    font-size:3rem;
}

.controls > .popup > span{
    font-size:1.5rem;
}