.leaderboard{
  display:flex;
  flex-flow:column;
  justify-content: flex;
  align-items: center;
  font-size:1.25rem;
}

.leaderboard > table{
  border-spacing: 0em;
}

.leaderboard > table > tr{
  border-spacing: 0em;
  font-size:1.25rem;

  height:2em;

  background:#222;
}

.leaderboard > table > tr > td:nth-child(1){
  text-align: center;

  min-width: 2em;
  background:#151515;
}

.leaderboard > table > tr > td:nth-child(2){
  min-width: 5em;
  text-align: center;
}


.leaderboard > table > tr > td:nth-child(3){
  min-width: 19.5em;
  padding-left:0.5em;
}

.leaderboard > table > tr > td:nth-child(4){
  min-width: 5.5em;
  padding-right:0.5em;
  text-align:right;
}

.leaderboard > .categoryButtons{
  width: calc(33em + 6px);

  display:flex;
  flex-direction: row;
}

.leaderboard > .categoryButtons > a{
  border-radius:0;
  background:#4446;

  flex-grow:1;
  text-align:center;

  padding:0.5em;
}

.leaderboard > .categoryButtons > a.active{
  background:#4444;
}

.leaderboard > .categoryButtons > a:hover{
  background:#4442;
}

.leaderboard > .categoryButtons{
  width: calc(33em + 6px);

  display:flex;
  flex-direction: row;
}