.leaderboard{
  display:flex;
  flex-flow:column;
  justify-content: flex;
  align-items: center;
  font-size:1.25rem;
}

.leaderboard > table{
  border-spacing: 0em;
}

.leaderboard > table > tbody > tr{
  border-spacing: 0em;
  font-size:1.25rem;

  height:2em;

  background:#222;
}

.leaderboard > table > tbody > tr > td:nth-child(1){
  text-align: center;

  min-width: 2em;
  background:#151515;
}

.leaderboard > table > tbody > tr > td:nth-child(2){
  min-width: 5em;
  text-align: center;
}


.leaderboard > table > tbody > tr > td:nth-child(3){
  min-width: 19.5em;
  padding-left:0.5em;
}

.leaderboard > table > tbody > tr > td:nth-child(4){
  min-width: 5.5em;
  padding-right:0.5em;
  text-align:right;
}

.leaderboard > .categoryButtons{
  width: calc(33em + 6px);

  display:flex;
  flex-direction: row;
}

.leaderboard > .categoryButtons > a{
  border-radius:0;
  background:#4446;

  flex-grow:1;
  text-align:center;

  padding:0.5em;
}

.leaderboard > .categoryButtons > a.active{
  background:#4444;
}

.leaderboard > .categoryButtons > a:hover{
  background:#4442;
}

.leaderboard > .pageButtons{
  margin-top:0.5em;

  width: calc(33em + 6px);

  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;

  text-align:center;
}

.leaderboard > .pageButtons > a{
  width:1.5em;
  height:1.5em;
  margin-left:0.1em;
  margin-right:0.1em;

  position:relative;
}

.leaderboard > .pageButtons > a.active::after{
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:50%;

  background:#fff4;
}