.leaderboardWrapper{
  display:flex;
  flex-direction: column;
}

.leaderboard > svg{
  width:100px;
  height:100px;
}

.leaderboard{
  padding-top:3em;
  padding-bottom:3em;

  display:flex;
  flex-flow:column;
  justify-content: flex-start;
  align-items: center;

  flex-grow:1;
}

.statTable{
  border-spacing: 0em;
}

.statTable > thead > tr{
  text-align:center;

  color:#aaa;
}

.statTable > thead > tr > th{
  font-weight:500;

  padding-bottom:0.25em;
}

.statTable > tbody > tr{
  border-spacing: 0em;
  font-size:1.25rem;

  height:2em;

  background:#222;
}

.statTable > tbody > tr > td:nth-child(1){
  text-align: center;

  min-width: 2em;
  background:#151515;
}

.statTable > tbody > tr > td:nth-child(2){
  min-width: 19.5em;
  padding-left:0.5em;
}

.statTable > tbody > tr > td:nth-child(3){
  min-width: 5em;
  text-align: center;
}


.statTable > tbody > tr > td:nth-child(4){
  min-width: 5.5em;
  padding-right:0.5em;
  text-align:right;
}

.categoryButtons{
  display:flex;
  flex-direction: row;
  justify-content: center;


  width:100%;

  gap:0.2em;

  box-shadow:inset 0px -2px #fff2;
}

.categoryButtons > a{
  border-radius:0;

  text-align:center;

  padding:0.5em;

  transition: border-bottom 0.25s ease-in-out;
  border-bottom:2px solid transparent;

  font-size:1.25rem;
}

.categoryButtons > a:hover{
  border-bottom:2px solid #fff4;
}

.categoryButtons > a.active{
  border-bottom:2px solid #fff8;
  
}

.leaderboard > .pageButtons{
  font-size:1.25rem;

  margin-top:0.5em;

  width: calc(33em + 6px);

  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;

  text-align:center;
}

.leaderboard > .pageButtons > a{
  width:1.5em;
  height:1.5em;
  margin-left:0.1em;
  margin-right:0.1em;

  position:relative;

  user-select: none;

  outline:none;
}

.leaderboard > .pageButtons > a:hover::after{
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:50%;

  background:#fff2;
}

.leaderboard > .pageButtons > a.active::after{
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:50%;

  background:#fff4;
}