html, body, #root{
  --background-color:#191919;
  --color:white;
  height:100%;
  width:100%;
}

#root{
  display:flex;
  flex-flow:column;
}

.App {
  display:flex;
  flex-flow:column;
  
  background:#191919;

  height:100%;
  width:100%;
}

.left{
  float:left;
}

.right{
  float:right;
}

.grow{
  flex-grow:1;
}