html, body, #root{
  --background-color:#191919;
  --color:white;
  height:100%;
  width:100%;
}

#root{
  display:flex;
  flex-flow:column;
}

li{
  list-style-type: none;
}

.App {
  display:flex;
  flex-flow:column;
  
  background:#191919;

  height:100%;
  width:100%;
}

.left{
  float:left;
}

.right{
  float:right;
}

.grow{
  flex-grow:1;
}

::-webkit-scrollbar{
  width:5px;
	background-color:transparent;
}

::-webkit-scrollbar-thumb{
	background:#FFFFFF88;
}

@keyframes gameEnd{
	0%{
		transform: scale(1);
		opacity:1;
	}
	
	60%{
		transform: scale(1.2);
		opacity:0.7;
	}
	
	100%{
		transform: scale(1.5);
		opacity:0;
	}
}