.navbar{
  flex-grow:0;
  flex-shrink:0;
  
  display:flex;
  flex-flow:row;
  align-items: center;
  justify-content: center;

  background:#191919;
  color:white;
}

.navbar_child{
  padding: 1.5em;

  background:#191919;
  color:white;
  
  text-align:center;
  
  border:none;
  text-decoration: none;
}

.navbar_child:hover{
  color:blue;
}

.navbar_left{
  float:left;
}

.navbar_right{
  float:right;
}

.navbar_title{
  flex-grow:1;
}