.handling_outer{
    position:fixed;
    width:100%;
    height:100%;
    top:0;

    display:flex;
    align-items:center;
    justify-content:center;    

    background:rgba(0, 0, 0, 0.4);
}

.handling_inner{
    position:relative;
    background:#191919;
    color:white;
    
    display:flex;
    flex-flow:column;

    border-radius:50px;
    padding:2em 2em 2em calc(2em + 50px);

    user-select: none;
}

.handling_section{
    width:100%;
    display:flex;
    align-items: center;

    padding:0.5em 0;
}

.handling_disabled{
    opacity: 0.5;
    pointer-events: none;
}

.handling_section *{
    flex-shrink:0;
}

.handling_section input[type=range]{
    vertical-align:middle;
    appearance:none;
    background:#FFFFFF44;
    height:5px;
    margin:10px;
}

.handling_section input[type=range]::-webkit-slider-thumb{
    appearance:none;
    background:#FFFFFF;
    border-radius:50%;
    height:12px;
    width:12px;
}

.handling_section input[type=range]::-webkit-slider-thumb:hover{
    width:15px;
    height:15px;
}

.handling_section input[type=text]{
    appearance:none;
    vertical-align:bottom;
    border:none;
    outline:none; 
    box-shadow:0 2px white;
    font-size:1rem;

    width:50px;

    background:transparent;
    color:white;
}

.handling_checkbox{
    float:right;
    appearance:none;
    width:20px;
    height:20px;
    margin-left:6px;
    vertical-align:bottom;
    background:transparent;
    cursor:pointer;
    border:2px solid white;
    outline:none;
}

.handling_checkbox:hover{
    background:#FFF3;
}

.handling_checkbox:checked{
    background:white;
    box-shadow:inset 0 0 0 4px #191919;
}

.handling_checkbox:checked:hover{
    background:#FFFFFFAA;
}

.handling_unit{
    width:1.5em;
}

.handling_toggle{
    position:absolute;
    left:0;
    top:0;
    bottom:0;

    display:flex;
    align-items: center;
    justify-content: center;

}

.handling_head{
    font-size:2em;
    padding:1.5em 3em;
}

.handling_label{
    padding:1em;
    text-align:left;
}

.handling_input{
    text-align:left;
    appearance:none;
    border:none;

    margin:0 0.5em 1em 0.5em;
    padding:0.5em;

}

.handling_submit{
    appearance: none;
    border:none;

    background:white;
    color:#191919;

    border-radius: 50px;
    margin-top:2em;
    padding:1em;
}

.handling_error{
    font-size:0.9rem;
}

.handling_submit:disabled{
    opacity:0.5;
}

a{
    color:white;
    text-decoration:none;
}