/*Manrope > Varela Round > Exo 2*/

.splitmenu{
  display:flex;
  flex-flow:column;
  gap:0.5em;

  background:transparent;
}

.splitmenu > .section{
  background:transparent;

  flex-grow:1;

  display:flex;
  flex-flow:row;

  width:100%;
}

.splitmenu > .section > div{
  flex-grow:1;

  padding:2rem;
}

.splitmenu > .section > .header{
  background:#0009;
  width: 30%;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.splitmenu > .section > .header > .title{
  font-size:1.5rem;
  font-weight:bold;
}

.splitmenu > .section > .header > .description{
  font-size:0.9rem;
  margin-top:1rem;
}

.splitmenu > .section > .content{
  background:#0004;
  width: 70%;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  display:flex;
  flex-flow:column;
  gap:1em;
}

.splitmenu > .section > .content > .buttons{
  display:flex;
  justify-content:flex-end;

  gap:1em;
}

.splitmenu > .section > .content > .buttons > .save{
  width:fit-content;
  padding:0.5em 3em;
  margin-top:1em;

  background:white;
  color:black;
}

.splitmenu > .section > .content > .buttons > .save:disabled{
  background:transparent;
  color:#555;
  box-shadow:0 0 0 2px #555;
}

.splitmenu > .section > .content > .buttons > .save:disabled::after{
  display:none;
}

.splitmenu > .section > .content > .buttons > .save:disabled::after{
  display:none;
}