.handling{
    background:inherit;
}

.handling > h1{
    font-size:2em;
}

.handling > .row{
    background:inherit;

    display:flex;
    flex-flow:row;
    align-items: center;
    height:50px;
}

.handling > .row > .checkbox{
    margin:10px;
    margin-left:0;
}