.dashboard{
  display:grid;
  grid-template-columns:15% 1fr;
  height:100%;
}

.dashboard-navbar{
  display:flex;
  flex-direction:column;

  user-select: none;
  padding:1em;
  margin:1em;
}

.dashboard-navbar > .section{
  display:flex;
  flex-direction: column;
  gap:0.2rem;
  position:relative;
}

.dashboard-navbar > .section:not(:last-child){
  padding-bottom:1em;
  margin-bottom:1em;
  border-bottom:1px solid #fff5;
}

.dashboard-navbar > .section.disabled{
  pointer-events: none;
  opacity: 0.4;
}

.dashboard-navbar > .section > h1{
  padding:0.5em;
  user-select: none;
  color:white;
}

.dashboard-navbar > .section > :not(h1){
  border-radius:5px;
  padding:0.5em;
  opacity:0.7;
  cursor: pointer;
}

.dashboard-navbar > .section > :not(h1):hover{
  background:#fff1;
}

.dashboard-navbar > .section > :not(h1):active{
  background:#fff1;
  opacity:1;
}

.dashboard-navbar > .section > :not(h1).active{
  background:#fff1;
  opacity:1;
}

.dashboard-content{
  background:#242424;

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position:relative;

  overflow:auto;
  height:100%;
}

.loadingWrapper{
  position:fixed;

  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#0009;

  display:flex;
  align-items: center;
  justify-content: center;
}

.loadingWrapper svg{
  height:15%;
}