.chat{
	--userMsg:white;
	--serverMsg:#AAAAAA;

	display:flex;
	flex-flow:column;
	justify-content:flex-end;

	background:transparent;
	position:absolute;
	overflow:none;

	top:50px;
	bottom:50px;
	left:50px;
	right:auto;
	font-size:1rem;
	width:calc((100% - 100px) * 0.2);

	z-index:75;
}

.chat.inLobby{
	left:auto;
	right:50px;
	bottom:50px;
}

.chat .chatMessages{
	min-height:20%;
  height:20%;

	overflow:hidden;
	display:flex;
	flex-flow:column;
	justify-content:flex-end;

	transition:height 1s ease-in-out;

	flex-grow:0;
	flex-shrink:1;
	margin:0;
	padding:0;
	
	background:#29292930;
}

.chat.inLobby .chatMessages{
	/*min-height:100%;*/
  flex-grow:1;
}

.chat:focus-within > .chatMessages{
  height:100%;
}

.chatMessages > .serverMessage{
	color:var(--serverMsg);
	list-style-type: none;
}

.chatMessages > .userMessage{
	color:var(--userMsg);
	list-style-type: none;
}



.chatInput{
	color:var(--userMsg);
	background:#29292930;

	flex-grow:0;
	flex-shrink:0;
	
	outline:none;
	border:none;
	border-bottom:1px solid white;
	
	width:100%;

  --outline-color:transparent;
}