.multiplayerWrapper{
	display:flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;
	max-width:50%;
	margin:50px;
}

.opponentWrapper{
	position:relative;
	display:flex;
	flex-flow:column;
	align-items:center;
	margin:5px;
}

.opponentWrapper *{
	flex-grow:0;
	flex-shrink:0;
}

.opponentWrapper span{
	width:min-content;
	margin:5px;
	line-height:20px;
	height:20px;
}