.menu{
    background:#202020;
    color:white;

    width:fit-content;

    display:grid;
    grid-template-rows:1fr;

    grid-gap:2em;

    border-radius:3px;

    padding:4em;

    text-align: center;
    position:relative;
}

.menu > .header > h2{
    font-size:0.8em;
    margin-bottom:2em;
}

.menu > .header > h1{
    font-weight:bold;
    font-size:1.25rem;
}

.menu button{
    border:none;
    background:#4444FF;

    color:var(--button-color,white);

    width:100%;
    padding:1.25em;
    border-radius:3px;

    position:relative;
    user-select: none;
    cursor:pointer;
}

.menu button:disabled::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    pointer-events: none;
    background:#00000099;
    border-radius:inherit;
}

.menu > .row{
    background:inherit;

    display:flex;
    flex-flow:row;
}

.menu > .loading{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    display:flex;
    align-items: center;
    justify-content: center;

    background:#00000099;
}

.menu > .loading > svg{
    width:100px;
}