.privacy_policy{
  margin:0 10vw;
  padding:10vh 0;
}

.privacy_policy > h1{
  font-size:2rem;
}

.privacy_policy > h2{
  font-size:1.5rem;
  margin-top:1em;
}

.privacy_policy > p{
  margin-bottom:0.5em;
  margin-top:0.5em;
}

.privacy_policy > ul > li{
  list-style-type: disc;
}