html, body, #root{
  --background-color:#191919;
  --color:white;
 
  padding:0;
  margin:0;
  height:100%;
  width:100%;

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html *{
  margin:0;
}

#root{
  display:flex;
  flex-flow:column;
}

li{
  list-style-type: none;
}

.App {
  display:flex;
  flex-flow:column;
  
  background:var(--background-color);

  height:100%;
  width:100%;
}

.page_content{
  flex-grow:1;

  background:var(--background-color);
  color:var(--color);
}

.page_content.centered{
  display:flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar{
  width:5px;
	background-color:transparent;
}

::-webkit-scrollbar-thumb{
	background:#FFFFFF88;
}

.link{
  color:inherit;
  text-decoration:underline;
}

.link:hover{
  color:#2222FF;
}

.link:active{
  color:#0000DD;
}