.scrollbar_track{
  position:absolute;
  
  right:0;
  width:10px;
  height:100%;

  background:#FFFFFF10;

  transition:0.25s background linear;

  z-index:200;
}

:hover ~ .scrollbar_track{
  background:#ffffff20;
}

.scrollbar_thumb_outer{
  position:absolute;

  left:0;
  right:0;

  background:transparent;
  cursor: pointer;
}

.scrollbar_thumb_inner{
  position:absolute;

  top:2px;
  bottom:2px;
  left:2px;
  right:2px;

  background:#FFFFFF80;

  z-index:201;

  border-radius:5px;
}