.scrollbar_track{
  position:absolute;
  
  right:0;
  width:20px;
  height:100%;

  background:red;

  opacity: 0.1;
}

.scrollbar_thumb{
  position:absolute;

  left:0;
  right:0;

  background:green;
}