.scrollbar_track{
  position:fixed;
  
  width:10px;
  height:100%;

  background:transparent;

  transition:0.25s background linear;

  z-index:200;
}

:hover ~ .scrollbar_track, .scrollbar_track:hover{
  background:#ffffff10;
}

.scrollbar_thumb_outer{
  position:absolute;

  left:0;
  right:0;

  z-index:201;

  background:transparent;
}

.scrollbar_thumb_inner{
  position:absolute;

  top:2px;
  bottom:2px;
  left:2px;
  right:2px;

  background:#FFFFFF80;

  z-index:202;

  border-radius:5px;
}

.scrollbar_thumb_inner:active{
  background:#FFFFFF60;
}