html, body, #root{
  --background-color:#191919;
  --color:white;
 
  padding:0;
  margin:0;
  height:100%;
  width:100%;

  overflow:hidden;

  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root{
  display:flex;
  flex-flow:column;
}

li{
  list-style-type: none;
}

.App {
  display:flex;
  flex-flow:column;
  
  background:var(--background-color);

  height:100%;
  width:100%;
}

.page_content{
  flex-grow:1;

  background:var(--background-color);
  color:var(--color);
}

.page_content.centered{
  display:flex;
  align-items: center;
  justify-content: center;
}

.link{
  color:inherit;
  text-decoration:underline !important;
}

.link:hover{
  color:#2222FF;
}

.link:active{
  color:#0000DD;
}

/* overwriting element defaults */

html *{
  margin:0;
  font-size:inherit;
}

html button{
  border:none;
  background:#4444FF;

  color:white;

  width:100%;
  padding:1.25em;
  border-radius:3px;

  position:relative;
  user-select: none;
  cursor: pointer;
}

html button.AlternateColor{
  background:white;
  color:black;
}

html button:disabled{
  pointer-events: none;
}

html button:disabled::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  pointer-events: none;
  background:#00000099;
  border-radius:inherit;
}

::-webkit-scrollbar{
  width:5px;
	background:transparent;
}

::-webkit-scrollbar-thumb{
	background:#FFFFFF88;
}

:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}