/* HORIZONTAL SWITCH */
.switch_horizontal {
    --margins:4px; /*gap between the slider and the 'wall' of the slider*/

    --slider_height:40px; /*small guy*/
    --slider_width:40px;

    --switch_height:calc(var(--slider_height) + (var(--margins) * 2)); /*big guy*/
    --switch_width:80px;

    --transform_distance:calc(var(--switch_width) - var(--slider_width) - var(--margins) - var(--margins)); /* margins is in here twice one for each side. */

    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
}

.checkbox_horizontal {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_horizontal {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--switch_height);
}

.slider_horizontal:before {
    position: absolute;
    content: "";
    height: var(--slider_height);
    width: var(--slider_width);
    left: var(--margins);
    top: var(--margins);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.checkbox_horizontal:checked + .slider_horizontal {
    background-color: #242424;
}

  
.checkbox_horizontal:focus + .slider_horizontal {
    box-shadow: 0 0 1px #242424;
}

  
.checkbox_horizontal:checked + .slider_horizontal:before {
    -webkit-transform: translateX(var(--transform_distance));
    -ms-transform: translateX(var(--transform_distance));
    transform: translateX(var(--transform_distance));
}


/* VERTICAL SWITCH */
.switch_vertical {
    --margins:4px; /*gap between the slider and the 'wall' of the slider*/

    --slider_height:40px; /*small guy*/
    --slider_width:40px;

    --switch_height:80px; /*big guy*/
    --switch_width:calc(var(--slider_width) + (var(--margins) * 2));

    --transform_distance:calc(var(--switch_height) - var(--slider_height) - var(--margins) - var(--margins)); /* margins is in here twice one for each side. */

    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
}

.checkbox_vertical {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_vertical {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: var(--switch_height);
}

.slider_vertical:before {
    position: absolute;
    content: "";
    height: var(--slider_height);
    width: var(--slider_width);
    left: var(--margins);
    top: var(--margins);
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.checkbox_vertical:checked + .slider_vertical {
    background-color: #242424;
}

  
.checkbox_vertical:focus + .slider_vertical {
    box-shadow: 0 0 1px #242424;
}

  
.checkbox_vertical:checked + .slider_vertical:before {
    -webkit-transform: translateY(var(--transform_distance));
    -ms-transform: translateY(var(--transform_distance));
    transform: translateY(var(--transform_distance));
}