.user_menu{
    position:absolute;
    width:100%;
    top:100%;
    left:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.user_child{
    background:var(--background);

    padding: 1.5em;

    margin:0;
}

.user_child:hover{
    background:var(--background_hover);
}

.user_separation{
    border-bottom:1px solid white;
}