.main_wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  user-select: none;
}

.main_wrapper * {
  outline: 0px solid white;
}